In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

from scipy.stats import zscore

In [2]:
data=pd.read_excel("All_Schemes_Data_Broken_Into_Mom_And_Baby.xlsx", sheet_name="Mom_Data",index_col=[0,1])

# Removing Outlires

In [3]:
adm_cat=data.groupby("Admission_Category")
Natural=adm_cat.get_group("Normal Delivery")
Caesarean=adm_cat.get_group("Caesarean Delivery")

In [4]:
total_cost_df_Normal=Natural["Total_Cost"]
total_cost_df_Caesarean=Caesarean["Total_Cost"]

In [5]:
z_scores = zscore(total_cost_df_Normal)
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 3)
Natural = Natural[filtered_entries]
Natural

                    Scheme_Code  Plan_Key  Authorization_Key  Stg_Has_Key  \
         admit_year
Scheme A 2013               BON      20.0        769012710.0    337573074
         2013               BON      20.0        768751860.0    337574069
         2013               BON      20.0        825871979.0    337574855
         2013               BON      20.0        850562974.0    443087111
         2013               BON      20.0        768778906.0    426326981
...                         ...       ...                ...          ...
Scheme_C 2019                 C     731.0        912280411.0    672346712
         2020                 C     731.0        913123197.0    698088738
         2020                 C     731.0        913251585.0    700772846
         2020                 C     731.0        912910930.0    690643272
         2020                 C     731.0        913063789.0    699526386

                      Member_Key  Beneficiary_Number Admission_Category  \
         admit_year
Scheme A 2013         2000156110                   2    Normal Delivery
         2013         2000230971                   4    Normal Delivery
         2013         2000282455                   2    Normal Delivery
         2013         2000382489                   3    Normal Delivery
         2013         2000422909                   1    Normal Delivery
...                          ...                 ...                ...
Scheme_C 2019        88100660489                   1    Normal Delivery
         2020        88100661976                   0    Normal Delivery
         2020        88100662030                   3    Normal Delivery
         2020        88100668948                   1    Normal Delivery
         2020        88100669882                   1    Normal Delivery

                    Date_Of_Birth  Admit_Month  Age_At_Treatment  ...  \
         admit_year                                               ...
Scheme A 2013          1994-05-05       201303                18  ...
         2013          1992-11-21       201301                20  ...
         2013          1992-05-17       201304                20  ...
         2013          1994-05-11       201310                19  ...
         2013          1993-07-12       201304                19  ...
...                           ...          ...               ...  ...
Scheme_C 2019          1993-03-25       201907                26  ...
         2020          1994-04-02       202002                25  ...
         2020          1991-08-28       202003                28  ...
         2020          1988-03-21       202001                31  ...
         2020          1988-06-28       202002                31  ...

                    Pharmacy_Amt Age_Group Pulse_Paypoint_Code  Dpm_Ind  \
         admit_year
Scheme A 2013               0.00   16 - 20           BON033GDE    Group
         2013               0.00   16 - 20           BON001JHM    Group
         2013              84.68   16 - 20           BON001JHM    Group
         2013               0.00   16 - 20           BON004PEM    Group
         2013               0.00   16 - 20           BON050NEN    Group
...                          ...       ...                 ...      ...
Scheme_C 2019            1023.01   26 - 30           SMD003SMI    Group
         2020             304.67   21 - 25           SMD003SYN    Group
         2020             179.74   26 - 30           SMD004CHE    Group
         2020             162.47   31 - 35           SMD003SYN    Group
         2020               0.00   31 - 35           SMD011MIN    Group

                    Beneficiary_Type        Plan_Name  Pmb_Eligible  \
         admit_year
Scheme A 2013                   CHIL  STANDARD OPTION             Y
         2013                   CHIL  STANDARD OPTION             Y
         2013                   CHIL  STANDARD OPTION             Y
         2013                   CHIL  STANDARD OPTION             Y
         2013                   CHIL  STANDARD OPTION             Y
...                              ...              ...           ...
Scheme_C 2019                   ADUL         SASOLMED             Y
         2020                   MEMB         SASOLMED             Y
         2020                   ADUL         SASOLMED             Y
         2020                   ADUL         SASOLMED             Y
         2020                   ADUL         SASOLMED             Y

                     Magisterial_District_Descr  Region_Descr      Member_ID
         admit_year
Scheme A 2013                          MAMELODI       GAUTENG   2000156110-2
         2013                     HALFWAY HOUSE       GAUTENG   2000230971-4
         2013                      JOHANNESBURG       GAUTENG   2000282455-2
         2013                      NEW BRIGHTON  EASTERN CAPE   2000382489-3
         2013                  SCHWEIZER-RENEKE    NORTH WEST   2000422909-1
...                                         ...           ...            ...
Scheme_C 2019                  BRONKHORSTSPRUIT       GAUTENG  88100660489-1
         2020                        MPUMALANGA    MPUMALANGA  88100661976-0
         2020                        EMBALENHLE    MPUMALANGA  88100662030-3
         2020                        EMBALENHLE    MPUMALANGA  88100668948-1
         2020                        STANDERTON    MPUMALANGA  88100669882-1

[21145 rows x 31 columns]

In [6]:
z_scores = zscore(total_cost_df_Caesarean)
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 3)
Caesarean = Caesarean[filtered_entries]
Caesarean

                    Scheme_Code  Plan_Key  Authorization_Key  Stg_Has_Key  \
         admit_year
Scheme A 2013               BON      20.0        769252214.0    425810854
         2013               BON      20.0        770333964.0    426326697
         2013               BON      20.0        769170413.0    337573090
         2013               BON      20.0        825623065.0    426069394
         2013               BON      20.0        850630482.0    442210545
...                         ...       ...                ...          ...
Scheme_C 2019                 C     731.0        912758943.0    688172698
         2020                 C     731.0        913026937.0    701398244
         2019                 C     731.0        912810835.0    687097784
         2020                 C     731.0        913064135.0    699526385
         2020                 C     731.0        913176090.0    702333359

                      Member_Key  Beneficiary_Number  Admission_Category  \
         admit_year
Scheme A 2013         2000141125                   2  Caesarean Delivery
         2013         2000149969                   5  Caesarean Delivery
         2013         2000157858                   1  Caesarean Delivery
         2013         2000173667                   4  Caesarean Delivery
         2013         2000238461                   4  Caesarean Delivery
...                          ...                 ...                 ...
Scheme_C 2019        88100666452                   2  Caesarean Delivery
         2020        88100666854                   0  Caesarean Delivery
         2019        88100667705                   1  Caesarean Delivery
         2020        88100668742                   2  Caesarean Delivery
         2020        88100669260                   1  Caesarean Delivery

                    Date_Of_Birth  Admit_Month  Age_At_Treatment  ...  \
         admit_year                                               ...
Scheme A 2013          1984-05-16       201304                28  ...
         2013          1994-11-14       201302                18  ...
         2013          1995-02-21       201302                18  ...
         2013          1987-12-04       201305                25  ...
         2013          1982-08-05       201311                31  ...
...                           ...          ...               ...  ...
Scheme_C 2019          1993-01-19       201912                26  ...
         2020          1982-08-23       202002                37  ...
         2019          1988-02-02       201911                31  ...
         2020          1997-08-17       202002                22  ...
         2020          1998-10-18       202003                21  ...

                    Pharmacy_Amt Age_Group Pulse_Paypoint_Code     Dpm_Ind  \
         admit_year
Scheme A 2013               0.00   26 - 30           BON019KHG       Group
         2013               0.00   16 - 20           BON004QUE       Group
         2013               0.00   16 - 20           BON019NPE       Group
         2013               0.00   21 - 25           BON056EDW       Group
         2013               0.00   31 - 35           BON002STE       Group
...                          ...       ...                 ...         ...
Scheme_C 2019             478.51   26 - 30           SMD011MIN       Group
         2020             132.39   36 - 40           SMD009DP1  Individual
         2019             251.14   31 - 35           SMD011MIN       Group
         2020             252.52   21 - 25           SMD004CHE       Group
         2020             210.07   21 - 25           SMD011MIN       Group

                    Beneficiary_Type        Plan_Name  Pmb_Eligible  \
         admit_year
Scheme A 2013                   ADUL  STANDARD OPTION             Y
         2013                   CHIL  STANDARD OPTION             Y
         2013                   CHIL  STANDARD OPTION             Y
         2013                   ADUL  STANDARD OPTION             Y
         2013                   ADUL  STANDARD OPTION             Y
...                              ...              ...           ...
Scheme_C 2019                   ADUL         SASOLMED             Y
         2020                   MEMB         SASOLMED             Y
         2019                   ADUL         SASOLMED             Y
         2020                   ADUL         SASOLMED             Y
         2020                   ADUL         SASOLMED             Y

                     Magisterial_District_Descr   Region_Descr      Member_ID
         admit_year
Scheme A 2013                          ISIPINGO  KWAZULU NATAL   2000141125-2
         2013                        QUEENSTOWN   EASTERN CAPE   2000149969-5
         2013                  PIETERMARITZBURG  KWAZULU NATAL   2000157858-1
         2013                            LETABA        LIMPOPO   2000173667-4
         2013                         LADYSMITH  KWAZULU NATAL   2000238461-4
...                                         ...            ...            ...
Scheme_C 2019                           SECUNDA     MPUMALANGA  88100666452-2
         2020                         CAPE TOWN   WESTERN CAPE  88100666854-0
         2019                           SECUNDA     MPUMALANGA  88100667705-1
         2020                        STANDERTON     MPUMALANGA  88100668742-2
         2020                            ERMELO     MPUMALANGA  88100669260-1

[59010 rows x 31 columns]

In [7]:
Natural=Natural.reset_index()
Natural[["Admit_Month","Total_Cost"]]

       Admit_Month  Total_Cost
0           201303    22185.33
1           201301    37548.05
2           201304    17743.08
3           201310    19312.29
4           201304    15584.50
...            ...         ...
21140       201907    31773.77
21141       202002    33245.87
21142       202003    28822.51
21143       202001    27820.13
21144       202002    26895.30

[21145 rows x 2 columns]

In [8]:
Caesarean=Caesarean.reset_index()
Caesarean[["Admit_Month","Total_Cost"]]

       Admit_Month  Total_Cost
0           201304    37174.90
1           201302    28006.45
2           201302    27408.35
3           201305    31196.77
4           201311    25342.85
...            ...         ...
59005       201912    51263.80
59006       202002    49810.95
59007       201911    55513.99
59008       202002    54019.60
59009       202003    52978.28

[59010 rows x 2 columns]

In [9]:
excel_file = pd.ExcelWriter("ML_data_for_thesis.xlsx")

In [10]:
Caesarean.to_excel(excel_file,sheet_name="Caesarean Deliveries")
Natural.to_excel(excel_file,sheet_name="Natural")

In [11]:
excel_file.save()